
/* CSS reset */
*{
    margin:0px;
    padding:0px;
}

p{
    color:black;
    font-size:medium;
    font-weight: 100;
}

.fullpage{
    background-color:darkgrey;
    margin: 10px;
    padding: 10px;
    
}

.navbar{
    background-color: blue;
    margin: 10px;
    padding: 10px;
    
}

.cols{
    display: flex;
}

.col1{
    background-color: burlywood;
    flex: 2;
    margin: 10px;
    padding: 10px;
    
}

.profilebox{
    background-color:crimson;
    margin: 0px;
    padding: 0px;
    

.box1{
    background-color:rgb(142, 179, 235);
    margin: 0px;
    padding: 30px;
}

.box2{
    background-color:whitesmoke;
    margin: 0px;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: larger;
}

#janepic{
    width: 90px;
    border-radius: 50px;
    position: absolute;
    top: 100px;
    left: 50px
}

#jane{
    font-family: sans-serif;
    font-weight: 600;
    font-size:xx-large;
    color: black;
}
#seattle{
    font-family: sans-serif;
    font-weight: 400;
    font-size:x-large;
    color: black; 
    padding-bottom: 10px;
}

#map{
    width:10px;
    margin-right: 5px;
}

#editprofile{
    padding-top: 20px;
    font-size: small;
}

}

.education{
    background-color: cornflowerblue;
    margin-top: 10px;
    padding: 10px;
}

.col2{
    background-color: chartreuse;
    margin: 10px;
    padding: 10px;
    flex: 1;
}

.requests{
background-color: azure;
margin: 10px;
padding: 10px;
}

.connections{
background-color: cadetblue;
margin: 10px;
padding: 10px;
}