
/* CSS reset */
*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}


.fullpage{
    background-color:white;
    margin: 10px;
    padding: 10px;
    width: 1000px;
    
    
}

.navbar{
    background-color: black;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.profile{
    margin-right: 30px;
    display: flex;
    gap: 25px;
    align-items: center;
    color: white;
    
}
#profiletext{
    color: white;
    font-size: 30pt;
    font-weight: 700;
    padding-right: 25px;
}

#myprofiletext{
    font-weight: 700;
}

#signout{
    color: white;
    background-color: rgb(98, 137, 210);
    font-weight: 700;
    padding: 5px;
}

.cols{
    display: flex;
    
}

.col1{
    background-color: white;
    flex: 2;
    margin: 10px;
    margin-left: 150px;
    padding: 0px;
    
}

.profilebox{
    background-color: grey;
    margin: 0px;
    padding: 0px;
    padding-bottom: 1px;
    

.box1{
    background-color:rgb(98, 137, 210);
    margin: 0px;
    margin-top: 0;
    padding: 0px;
    margin-bottom: 0;
}

.box2{
    background-color:white;
    margin: 3px;
    margin-top: 0px;
    margin-bottom: 3px;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: larger;
}

#janepic{
    width: 180px;
    border-radius: 89px;
    position: relative;
    top: 77px;
    left: 30px
}

#jane{
    font-weight: 600;
    font-size: 45pt;
    color: black;
    padding-top: 40px;
}
#seattle{
    font-weight: 400;
    font-size: 40pt;
    color: black; 
    padding-bottom: 10px;
}

#map{
    width:20px;
    margin-right: 5px;
}

#editprofile{
    padding-top: 20px;
    font-size: 14pt;
}

}

.education{
    background-color: gray;
    margin-top: 45px;
    padding: 3px;
}

.edbox1{
    background-color: grey;
    margin: 0px;
    padding: 10px;
    font-size: 26pt;
    font-weight: 600;
}

.edbox2{
    background-color:white;
    margin: 0px;
    padding: 10px;
    
}

#date{
    color: gray;
    font-size: 10pt;
}

#blackbelt{
    font-size: 10pt;
    margin-top: 5px;
}

.col2{
    background-color: white;
    margin: 10px;
    margin-right: 150px;
    margin-left: 33px;
    padding: 0px;
    flex: 1;
}

.requests{
background-color: azure;
margin: 0px;
padding: 0px;
}

.requestbox1{
    background-color: gray;
    margin:px;
    padding: 10px;
    color: white;
    font-size: 13pt;
    display: flex;
    justify-content: center
    
}

#two{
   margin-top: ;
    width:20px
}

.requestbox2{
    background-color: white;
    margin:0px;
    padding: 10px;
    font-size: 12pt;
    color: black;
    margin-bottom: 40px;
    border-style: solid;
    border-color: gray;
   
}

.toddbox{
    display: flex;
    align-items: center;
    font-size: 15pt;
}

#toddboxz{
    display: flex;
    align-items: center;
    font-size: 15pt;
}
#toddboxw{
    display: flex;
    align-items: center;
    font-size: 15pt;
}
.friend{
    width: 40px;
    border-radius: 20px;
    padding-right: 5px;
}

.acceptclose{
    width:30px;
    padding-left: 5px;
    padding-right: 5px;
}

.connections{
    background-color: gray;
    padding: 0px;
    color: white;
    font-size: 13pt;
}